{% extends "app/base.html" %}
{% load static %}
{% block title %}Contact{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="container mt-3">
        <h2 class="text-center">Contact us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">Address: 1234 Main Street, Anytown, AN 56789</p>
            <p class="fs-4 text-center">Contact: (123) 456-7890</p>
            <p class="fs-4 text-center">Email: contact@example.com</p>
        </div>
        
    </div>
{% endblock main-content %}
