{% extends "app/base.html" %}
{% load static %}

{% block title %}Password reset Completed Successful{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row my-3">
        <div class="col-sm-2 border-end">
            <h3>Reset password Completed!!</h3>
        </div>
        <div class="col-sm-9 offset-sm-3 text-center">
            <div>
                <iframe src="https://giphy.com/embed/ibolle3mOqHE3QTtk" width="200" height="200" frameBorder"0"
                class="giphy-ended" allowFullScreen>
                </iframe>
        </div>
{% endblock main-content %}