{% extends "app/base.html" %}
{% load static %}

{% block title %}Password Change Successful{% endblock title %}

{% block main-content %}
div class="container my-5">
    <div class="row">
        <h2>Welcome: <span class="text-capitalize">{{ request.user.username|capfirst }}</span></h2>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="#" class="btn btn-primary">Change password Done</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-3 text-center">
            <h3>Password Changed Successfully</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolle3mOqHE3QTtk" width="200" height="200" frameBorder"0"
                class="giphy-ended" allowFullScreen>
                </iframe>
        </div>
{% endblock main-content %}